.DS_Store
Sharely/files_information.py
OAuth_client_ID_credentials_desktop/*
!OAuth_client_ID_credentials_desktop/.gitkeep
OAuth_client_ID_credentials_webapp/*
!OAuth_client_ID_credentials_webapp/.gitkeep
Service_account_credentials/*
!Service_account_credentials/.gitkeep
data/*
!data/.gitkeep
log/*
!log/.gitkeep
